.container {
  @apply flex flex-col;
  gap: 24px;
  height: 100%;
}

.button {
  @apply max-w-max;
  font-size: 14px !important;
  line-height: 16px !important;
  padding: 8px !important;
  border-radius: 8px !important;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  fill: white;
}

.autocompleteControl {
  border: 1px solid var(--accent) !important;
  background-color: transparent !important;
  max-width: 100% !important;

  &:hover {
    border-color: var(--accent) !important;
  }
}

.autocompleteContainer {
  padding: 12px !important;
  margin: 0 !important;
}

.autocompleteValueContainer {
  padding: 20px 0 !important;
}

.menu {
  padding: 16px !important;
  border-radius: 8px !important;
  background-color: var(--hover) !important;
  border: 1px solid var(--objects) !important;
  margin: 8px 0 0 0 !important;
  max-width: 50% !important;
}

.menuList {
  padding: 0 !important;
}

