.trigger {
  padding: 12px;
  max-width: 480px;
  width: 100%;
  background-color: var(--hover);
  height: 40px;
  border: none;
}

.input {
  font-size: 14px !important;
  line-height: 16px !important;
}