.password {
  position: relative;

  svg {
    position: absolute;
    right: 12px;
    top: 12px;
    height: 16px;
    width: 16px;
    opacity: 0;

    &:hover {
      cursor: pointer;
    }
  }


  &:hover, &:focus-within {
    svg {
      opacity: 1;
    }
  }
}

.validationList {
  position: absolute;
  top: 0;
  left: calc(100% + 12px);


  width: max-content;
  padding: 16px;

  background: var(--objects);
  border: 1px solid var(--hover);
  border-radius: 8px;

  z-index: 10;
}