PORT=5001

# RabbitMQ
RABBITMQ_URI=amqp://user:deeptasker@127.0.0.1:35672
RABBITMQ_EVENTS_EXCHANGE=events

# JWT
JWT_SECRET_KEY=secret
JWT_EXPIRES_IN=1h

CLIENT_URL=http://localhost:3000 # preview: http://deeptasker.test:4173
SERVER_URL=http://localhost:5000