PORT=5000
DOMAIN=deeptasker.test
CLIENT_URL=http://deeptasker.test:3000 # preview: http://deeptasker.test:4173
SERVER_URL=http://deeptasker.test:5000

# Database
DB_HOST=127.0.0.1
DB_PORT=35433
DB_USER=postgres
DB_DEBUG=0
DB_COMMAND_DEBUG=0
DB_PASSWORD=password
DB_NAME=deeptasker

# JWT
JWT_SECRET_KEY=secret
JWT_EXPIRES_IN=1h

# RabbitMQ
RABBITMQ_URI=amqp://user:password@127.0.0.1:35672
RABBITMQ_QUEUE=notification_queue
RABBITMQ_QUEUE_DURABLE=true
RABBITMQ_EVENTS_EXCHANGE=events

# S3
S3_BUCKET=deeptasker
S3_ACCESS_KEY_ID=deeptasker
S3_ACCESS_KEY=deeptasker
S3_REGION=
S3_ENDPOINT=http://localhost:39000

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Base url
BASE_URL=

# Prometheus
PROMETHEUS=1

# Grafana
GRAFANA_PASSWORD=password

# Swagger
SWAGGER=1

# gRPC
GRPC_URL=127.0.0.0:50051
NODE_ENV=!production